body {
    background: black;
}

p,
label,
h1,
table {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

table {
    font-weight: bold;
    text-align: left;
}

table#mainlist {
    color: white;
    width: 100%;
}

.ndmbgold {
    color: #FFD700;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}