
html,
body {
    height: 100%;
    padding: 0;
    background: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    background-color: #FFFFFF;
    border: 1px solid black; 
    border-collapse:collapse;
}

.dark-mode {
    background-color: #090909;
    color: white;
    border: 1px solid white; 
}

.warning {
    background-color: #FF9090;
}

.warning-dark {
    background-color: #760000;
}

.watch {
    background-color: #FFFF90;
}

.watch-dark {
    background-color: #766F00;
}

.advisory {
    background-color: #90FF90;
}

.advisory-dark {
    background-color: #076F00;
}

.test {
    background-color: #9090FF;
}

.test-dark {
    background-color: #07006F;
}

.unknown {
    background-color: #696969;
}

.ndmbgold {
    color: #FFD700;
}

.topbar {
    background-color: #0a0a0a;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

.main {
    margin-top: 80px;
}