
html,
body {
    height: 100%;
    padding: 0;
    background: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

.warning {
    background-color: #FF9090;
}

.warning-dark {
    background-color: #760000;
}

.watch {
    background-color: #FFFF90;
}

.watch-dark {
    background-color: #766F00;
}

.advisory {
    background-color: #90FF90;
}

.advisory-dark {
    background-color: #076F00;
}

.test {
    background-color: #9090FF;
}

.test-dark {
    background-color: #07006F;
}

.unknown {
    background-color: #696969;
}

.ndmbgold {
    color: #FFD700;
}

.topbar {
    background-color: #0a0a0a;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.main {
    padding-top: 100px;
    flex: 1
}

.footer {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    bottom: 0;
    text-align: left;
}

table {
    table-layout: fixed;
    background-color: #FFFFFF;
    color:black;
}

.dark-mode table {
    table-layout: fixed;
    background-color: black;
    color: white;
}


thead {
    position: sticky;
    top: 100px; /* Matches the height of the topbar, almost */
    background-color: #263F78;
    color: white;
    z-index: 1;
}


#maintable tbody tr:nth-child(odd) {
    background-color: #dedede; /* Light gray for odd rows in light mode */
}

#maintable tbody tr:nth-child(even) {
    background-color: #ffffff; /* White for even rows in light mode */
}

/* Dark Mode */
.dark-mode #maintable tbody tr:nth-child(odd) {
    background-color: #333333; /* Darker background for odd rows in dark mode */
}

.dark-mode #maintable tbody tr:nth-child(even) {
    background-color: #222222; /* Dark background for even rows in dark mode */
}

#maintable tr td:nth-child(1),
#maintable tr td:nth-child(2),
#maintable tr td:nth-child(3) {
    text-align: center;
}